<mat-tab-group class="tab-group">
  <mat-tab label="Register">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="title-form"><h2>Register</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="10">
           <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Firstname" [(ngModel)]="firstname" name="firstname" required>
                </mat-form-field>
              </td>
               <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Lastname" [(ngModel)]="lastname" name="lastname" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="Username" name="Username" required>
                </mat-form-field>
              </td>
               <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [(ngModel)]="Password"type="password" name="Password" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <br>
              </td>
            </tr>
            <tr>
            <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="your@email.com" [(ngModel)]="email" name="email" required>
                </mat-form-field>
              </td>
               <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Confirm Password" [(ngModel)]="confirmPassword" type="password" name="Confirm Password" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions class="login-button-form">
        <button mat-raised-button (click)="register()" color="primary">Register</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Login">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title class="title-form"><h2>Login</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width2" cellspacing="10">
            <tr>
              <td>
                <mat-form-field class="example-full-width2">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width2">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions class="login-button-form">
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
      <br>
      <br>
      <br>
    </mat-card>
  </mat-tab>
</mat-tab-group>