.tab-group {
    max-width: 500px;
    margin: auto;
    width: 100%;
    padding: 30px;
  }
.example-card {
    max-width: 500px;
    margin: auto;
    width: 80%;
  }
.title-form {
    margin-left: 150px;
}
.example-form {
    max-width: 400px;
}
.example-full-width{
    margin-left: 1px;
}
.example-full-width2{
    margin-left: 47px;
}
.login-button-form {
    margin-left: 150px;
}


